@import './default.less';
@import './loading.less';
.container {
    .nav-left{
        background-color: @colorR;
        color: @colorM;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        overflow: auto;
        background-color: @colorL;
    }
    .content{
        position: relative;
        padding: 20px;
    }
}
.content_wrap{
    background:#fff;
    border: 1px solid #e8e8e8;
    margin-top: -2px;
    .ant-table-wrapper{
        margin-left: -1px;
        margin-right: -1px
    }
}